%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{release, {bm, "0.1.0"},
 [bm]}.

{generate_start_script, false}.
{extended_start_script, true}.

{sys_config, "rel/sys.config"}.

{overlay, [
    {mkdir, "log"},
    {template, "rel/bin/bm", "bin/bm"},
    {template, "rel/bin/nodetool", "bin/nodetool"},
    {copy, "rel/vm.args",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
]}.
